/*9*/
.contacto .contactoDatos .contactoRedes ul, .contacto .contactoDatos .datos .titulosDatos, #nosotros .trayectoria, #nosotros .quienesSomos, .header {
  display: flex;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
}

/* HEADER */
.header {
  flex-direction: column;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(196, 54, 244) 50%, rgb(131, 58, 180) 100%);
  margin-bottom: 3%;
}
.header img {
  height: 50%;
  width: 25%;
  margin: 2% 0;
}
.header nav {
  width: 80%;
  margin: 2% 10%;
}
.header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.header nav ul li {
  list-style: none;
  cursor: pointer;
  transition: all 0.5s;
}
.header nav ul li:hover {
  transform: scale(1.5);
}
.header nav ul li a {
  padding: 5%;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial;
  color: white;
}

/*HEADER*/
/*PRESENTACION*/
.presentacion p {
  font-size: 15px;
  font-family: Arial;
  color: #000003;
  background-color: #FFEBD6;
  margin: 3% 8%;
  padding: 2%;
}
.presentacion .tituloPresentacion {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/imagenTitulo.jpg);
}
.presentacion .tituloPresentacion h2 {
  font-size: 80px;
  font-family: Arial;
  color: white;
  background-color: #82449d;
  padding: 2%;
  margin: 0 20%;
}

/*PRESENTACION*/
/*INDEX*/
/*CAROUSEL*/
.carouselInicio {
  margin-bottom: 3%;
}
.carouselInicio img {
  height: 550px;
}

/*CAROUSEL*/
/*SOBRE NOSOTROS*/
#nosotros {
  background-color: #82449d;
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
  overflow: hidden;
  text-align: center;
}
#nosotros h2 {
  font-size: 70px;
  font-family: Arial;
  color: white;
  padding-top: 2%;
  margin-bottom: 2%;
}
#nosotros img {
  height: 400px;
  width: 400px;
  margin: 2%;
  border-radius: 5%;
}
#nosotros h3 {
  font-size: 40px;
  font-family: Arial;
  color: white;
}
#nosotros p {
  font-size: 15px;
  font-family: Arial;
  color: white;
  padding: 2%;
}
#nosotros .quienesSomos .quienesSomosTxt {
  padding: 2%;
  margin-left: 1%;
  background: linear-gradient(90deg, rgb(130, 68, 157) 0%, rgb(46, 3, 64) 0%, rgb(42, 0, 60) 65%, rgb(130, 68, 157) 100%);
}
#nosotros .trayectoria .trayectoriaTxt {
  padding: 2%;
  margin-right: 1%;
  background: linear-gradient(90deg, rgb(130, 68, 157) 0%, rgb(46, 3, 64) 35%, rgb(42, 0, 60) 100%, rgb(130, 68, 157) 100%);
}

/*SOBRE NOSOTROS*/
/*CONOCENOS*/
.conocenos {
  padding-bottom: 5%;
  background: rgb(0, 0, 3);
  background: linear-gradient(0deg, rgb(0, 0, 3) 0%, rgb(130, 68, 157) 82%);
  text-align: center;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img1 img2 img3" "txt1 txt2 txt3";
}
.conocenos img {
  height: 100%;
  width: 100%;
  padding-top: 8%;
}
.conocenos h3 {
  margin: 4% 0;
  font-size: 30px;
  font-family: Arial;
  color: white;
}
.conocenos p {
  margin-bottom: 5%;
  font-size: 15px;
  font-family: Arial;
  color: white;
}
.conocenos .conocenosImg1 {
  grid-area: img1;
}
.conocenos .conocenosImg2 {
  grid-area: img2;
}
.conocenos .conocenosImg3 {
  grid-area: img3;
}
.conocenos .conocenosTxt1 {
  grid-area: txt1;
}
.conocenos .conocenosTxt2 {
  grid-area: txt2;
}
.conocenos .conocenosTxt3 {
  grid-area: txt3;
}

/*CONOCENOS*/
/*INDEX*/
/*APLICACION*/
.productos {
  background: linear-gradient(0deg, rgb(0, 0, 3) 5%, rgb(255, 255, 255) 30%);
  display: flex;
  justify-content: space-around;
  padding-bottom: 1%;
}
.productos .cartaProductos {
  margin-bottom: 5%;
  width: 30%;
  text-align: center;
}
.productos .cartaProductos h4 {
  font-size: 20px;
  font-family: Arial;
  color: #000003;
}
.productos .cartaProductos p {
  font-size: 15px;
  font-family: Arial;
  color: #000003;
}

/*APLICACION*/
/*EXPERIENCIA*/
.experiencia {
  font-family: Arial;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "div1 div2" "div3 div4";
}
.experiencia .expFondo {
  background-color: #FFEBD6;
  margin: 5%;
  text-align: center;
  border: #82449d solid 3px;
}
.experiencia img {
  padding: 2%;
  width: 50%;
  height: 50%;
}
.experiencia h3 {
  background-color: #82449d;
  color: white;
  padding: 1%;
  margin: 0;
  font-size: 40px;
}
.experiencia p {
  padding: 2%;
  font-size: 15px;
}
.experiencia .exp1 {
  grid-area: div1;
}
.experiencia .exp2 {
  grid-area: div2;
}
.experiencia .exp3 {
  grid-area: div3;
}
.experiencia .exp4 {
  grid-area: div4;
}

/*EXPERIENCIA*/
/*CONTACTO*/
.contacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3%;
}
.contacto .contactoDatos {
  background: #FFEBD6;
  padding: 5%;
  width: 35%;
}
.contacto .contactoDatos .datos {
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contacto .contactoDatos .datos .titulosDatos {
  font-size: 30px;
  font-family: Arial;
  color: #000003;
}
.contacto .contactoDatos .datos .titulosDatos h3 {
  margin: 0 0 0 10%;
  font-size: 35px;
  font-family: Arial;
  color: #000003;
  font-weight: bolder;
}
.contacto .contactoDatos .datos p {
  padding: 3%;
  font-size: 15px;
  font-family: Arial;
  color: #000003;
  text-align: center;
  font-weight: 500;
}
.contacto .contactoDatos .contactoRedes {
  margin-top: 3%;
  padding-top: 3%;
}
.contacto .contactoDatos .contactoRedes ul {
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.contacto .contactoDatos .contactoRedes ul li {
  transition: all 0.5s;
}
.contacto .contactoDatos .contactoRedes ul li:hover {
  transform: scale(1.5);
}
.contacto .contactoDatos .contactoRedes ul li a {
  text-decoration: none;
  font-size: 70px;
  font-family: Arial;
  color: #000003;
  cursor: pointer;
}

.atencion {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.atencion h3 {
  background-color: #82449d;
  font-size: 40px;
  font-family: Arial;
  color: white;
  padding: 1%;
  margin: 1% 35%;
}
.atencion p {
  background-color: #FFEBD6;
  font-size: 15px;
  font-family: Arial;
  color: #000003;
  font-weight: 500;
  padding: 1%;
  margin: 4% 25%;
}
.atencion iframe {
  width: 100%;
  padding-bottom: 4%;
  margin: 0;
  background: linear-gradient(0deg, rgb(0, 0, 3) 0%, rgb(255, 255, 255) 13%);
}

/*CONTACTO*/
/*FOOTER*/
.footer {
  padding-top: 3%;
  background-color: #000003;
  display: flex;
  justify-content: space-evenly;
}
.footer h4 {
  font-size: 20px;
  font-family: Arial;
  color: white;
}
.footer img {
  height: 150px;
}
.footer .footerInf {
  width: 10%;
}
.footer .footerInf ul {
  list-style: none;
  padding: 0;
}
.footer .footerInf ul li {
  padding: 1%;
  transition: all 0.5;
}
.footer .footerInf ul li:hover {
  transform: scale(1.25);
}
.footer .footerInf ul li a {
  text-decoration: none;
  font-size: 15px;
  font-family: Arial;
  color: white;
}
.footer .footerCont {
  width: 20%;
}
.footer .footerCont ul {
  list-style: none;
  padding: 0;
}
.footer .footerCont ul li {
  padding: 1%;
}
.footer .footerCont ul li a {
  text-decoration: none;
  font-size: 15px;
  font-family: Arial;
  color: white;
}
.footer .footerDirHor {
  width: 20%;
}
.footer .footerDirHor p {
  font-size: 15px;
  font-family: Arial;
  color: white;
}
.footer .footerRedes {
  display: flex;
}
.footer .footerRedes ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}
.footer .footerRedes ul li {
  transition: all 0, 5;
}
.footer .footerRedes ul li:hover {
  transform: scale(1.5);
}
.footer .footerRedes ul li a {
  text-decoration: none;
  font-size: 25px;
  font-family: Arial;
  color: white;
  cursor: pointer;
}

/*FOOTER*/
@media only screen and (max-width: 576px) { /*celular*/
  /*header*/
  .header {
    justify-content: center;
    flex-direction: column;
  }
  .header img {
    width: 40%;
  }
  .header nav ul {
    flex-direction: column;
    align-items: center;
  }
  .header nav ul li {
    padding-bottom: 2%;
    padding-top: 2%;
  }
  .header nav ul li a {
    font-size: 15px;
  }
  /*header*/
  /*carousel*/
  .carouselImg {
    height: 300px;
  }
  /*carousel*/
  /*sobre nosotros*/
  #nosotros h2 {
    font-size: 50px;
  }
  #nosotros img {
    height: 350px;
    width: 350px;
  }
  #nosotros h3 {
    font-size: 25px;
  }
  #nosotros p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 10px;
  }
  #nosotros .quienesSomos {
    flex-direction: column-reverse;
  }
  #nosotros .quienesSomos .quienesSomosTxt {
    background: linear-gradient(90deg, rgb(130, 68, 157) 0%, rgb(46, 3, 64) 35%, rgb(42, 0, 60) 65%, rgb(130, 68, 157) 100%);
  }
  #nosotros .trayectoria {
    flex-direction: column;
  }
  #nosotros .trayectoria .trayectoriaTxt {
    background: linear-gradient(90deg, rgb(130, 68, 157) 0%, rgb(46, 3, 64) 35%, rgb(42, 0, 60) 65%, rgb(130, 68, 157) 100%);
  }
  /*sobre nosotros*/
  /*conocenos*/
  .conocenos {
    padding: 10%;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 150px 1fr 150px 1fr 150px;
    grid-template-areas: "img1" "txt1" "img2" "txt2" "img3" "txt3";
  }
  .conocenos h3 {
    font-size: 25px;
  }
  .conocenos p {
    font-size: 10px;
    padding-left: 15%;
    padding-right: 15%;
  }
  /*conocenos*/
  /*presentacion*/
  .presentacion p {
    font-size: 12px;
  }
  .presentacion .tituloPresentacion h2 {
    font-size: 50px;
  }
  /*presentacion*/
  /*aplicacion*/
  .productos {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
  }
  .productos .cartaProductos {
    width: 60%;
  }
  .productos .cartaProductos h4 {
    font-size: 20px;
  }
  .productos .cartaProductos p {
    font-size: 10px;
  }
  /*aplicacion*/
  /*experiencia*/
  .experiencia {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "div1" "div2" "div3" "div4";
  }
  .experiencia h3 {
    font-size: 25px;
  }
  .experiencia p {
    font-size: 12px;
  }
  /*experiencia*/
  /*contacto*/
  .contacto {
    flex-direction: column;
  }
  .contacto img {
    height: 600px;
    margin-bottom: 5%;
  }
  .contacto .contactoDatos {
    width: 80%;
    margin-bottom: 10%;
  }
  .contacto .contactoDatos .datos {
    font-size: 15px;
  }
  .contacto .contactoDatos .datos .titulosDatos h3 {
    font-size: 25px;
  }
  .contacto .contactoDatos .datos p {
    font-size: 12px;
  }
  .contacto .contactoRedes ul {
    font-size: 55px;
  }
  .atencion h3 {
    font-size: 25px;
  }
  .atencion p {
    font-size: 12px;
    margin-bottom: 10%;
  }
  /*contacto*/
  /*footer*/
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer h4 {
    font-size: 17px;
  }
  .footer img {
    display: none;
  }
  .footer .footerInf {
    display: none;
  }
  .footer .footerCont {
    width: 80%;
  }
  .footer .footerCont ul li a {
    font-size: 12px;
  }
  .footer .footerDirHor {
    width: 80%;
  }
  .footer .footerDirHor p {
    font-size: 12px;
  }
  /*footer*/
}

/*# sourceMappingURL=style.css.map */
