@charset "UTF-8";
/*9*/
.redes ul, .contacto .contactoDatos .datos .titulosDatos, #nosotros .trayectoria, #nosotros .quienesSomos, header {
  display: flex;
  align-items: center;
}

.servicios, #nosotros {
  text-align: center;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

/* HEADER */
header {
  flex-direction: column;
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(196, 54, 244) 50%, rgb(131, 58, 180) 100%);
  margin-bottom: 3%;
}
header img {
  height: 50%;
  width: 25%;
  margin: 2% 0;
}
header nav {
  width: 80%;
  margin: 2% 10%;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
header nav ul li {
  list-style: none;
  cursor: pointer;
}
header nav ul li a {
  padding: 5%;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial;
  color: white;
  transition: all 0.25s;
}
header nav ul li a:hover {
  color: #2e0340;
  text-shadow: 0px 0px 5px #2e0340;
}

/*HEADER*/
/*PRESENTACION*/
.presentacion p {
  font-size: 15px;
  font-family: Arial;
  color: #000003;
  text-align: center;
  background-color: #FFEBD6;
  margin: 3% 8%;
  padding: 2%;
}
.presentacion .tituloPresentacion {
  width: 100%;
  padding: 150px 0;
  text-align: center;
  background-image: linear-gradient(to right, rgba(46, 3, 64, 0.5), rgba(46, 3, 64, 0.5)), url(../imagenes/presentacion.png);
}
.presentacion .tituloPresentacion h2 {
  font-size: 80px;
  font-family: Arial;
  color: white;
  background-color: #82449d;
  border-top-left-radius: 50%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 50%;
  padding: 2%;
  margin: 0 30%;
}

/*PRESENTACION*/
/*INDEX*/
/*CAROUSEL*/
.carouselInicio {
  margin-bottom: 3%;
}
.carouselInicio h1 {
  font-size: 70px;
  font-family: Arial;
  color: #2e0340;
  text-shadow: 0px 0px 15px #2e0340;
}
.carouselInicio p {
  font-size: 20px;
  font-family: Arial;
  color: #000003;
}
.carouselInicio .carousel-item {
  width: 100%;
  padding: 150px 0;
  text-align: center;
}
.carouselInicio .carouselFondo1 {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url(../imagenes/carousel1.jpg);
}
.carouselInicio .carouselFondo2 {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url(../imagenes/carousel2.jpg);
}
.carouselInicio .carouselFondo3 {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url(../imagenes/carousel3.jpg);
}

/*CAROUSEL*/
/*SOBRE NOSOTROS*/
#nosotros {
  background-color: #82449d;
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
}
#nosotros h2 {
  font-size: 70px;
  font-family: Arial;
  color: white;
  padding-top: 2%;
  margin-bottom: 2%;
}
#nosotros img {
  height: 400px;
  width: 400px;
  margin: 2%;
  border-radius: 5%;
}
#nosotros h3 {
  font-size: 40px;
  font-family: Arial;
  color: white;
}
#nosotros p {
  font-size: 15px;
  font-family: Arial;
  color: white;
  padding: 0 5%;
}
#nosotros .quienesSomos .quienesSomosTxt {
  padding: 2%;
  margin-left: 1%;
  background: linear-gradient(90deg, rgb(130, 68, 157) 0%, rgb(46, 3, 64) 0%, rgb(42, 0, 60) 65%, rgb(130, 68, 157) 100%);
}
#nosotros .trayectoria .trayectoriaTxt {
  padding: 2%;
  margin-right: 1%;
  background: linear-gradient(90deg, rgb(130, 68, 157) 0%, rgb(46, 3, 64) 35%, rgb(42, 0, 60) 100%, rgb(130, 68, 157) 100%);
}

/*SOBRE NOSOTROS*/
/*SERVICIOS*/
.servicios {
  padding-bottom: 5%;
  background: linear-gradient(0deg, rgb(0, 0, 3) 0%, rgb(130, 68, 157) 82%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img1 img2 img3" "txt1 txt2 txt3";
}
.servicios img {
  height: 100%;
  width: 100%;
  padding-top: 8%;
}
.servicios h3 {
  margin: 4% 0;
  padding: 0 5%;
  font-size: 25px;
  font-family: Arial;
  color: white;
}
.servicios p {
  margin-bottom: 5%;
  padding: 0 10%;
  font-size: 15px;
  font-family: Arial;
  color: white;
}
.servicios .serviciosImg1 {
  grid-area: img1;
}
.servicios .serviciosImg2 {
  grid-area: img2;
}
.servicios .serviciosImg3 {
  grid-area: img3;
}
.servicios .serviciosTxt1 {
  grid-area: txt1;
}
.servicios .serviciosTxt2 {
  grid-area: txt2;
}
.servicios .serviciosTxt3 {
  grid-area: txt3;
}

/*SERVICIOS*/
/*INDEX*/
/*APLICACION*/
.productos {
  background: linear-gradient(0deg, rgb(0, 0, 3) 5%, rgb(255, 255, 255) 30%);
  display: flex;
  justify-content: space-around;
  padding-bottom: 1%;
}
.productos .cartaProductos {
  margin-bottom: 5%;
  width: 30%;
  text-align: center;
}
.productos .cartaProductos h4 {
  font-size: 20px;
  font-family: Arial;
  color: #000003;
}
.productos .cartaProductos p {
  font-size: 15px;
  font-family: Arial;
  color: #000003;
}

/*APLICACION*/
/*EXPERIENCIA*/
.experiencia {
  display: grid;
  justify-content: center;
  grid-template-columns: 550px 550px;
  grid-template-rows: 500px 500px;
  grid-template-areas: "div1 div2" "div3 div4";
  background: linear-gradient(0deg, rgb(0, 0, 3) 0%, rgb(255, 255, 255) 10%);
}
.experiencia .expDiseño {
  background-color: #FFEBD6;
  margin: 5%;
  padding-bottom: 10%;
  text-align: center;
  box-shadow: 0px 0px 20px #2e0340;
}
.experiencia .expDiseño img {
  width: 100%;
  height: 50%;
  border-bottom: 3px solid #2e0340;
}
.experiencia .expDiseño h3 {
  background-color: #82449d;
  padding: 1%;
  margin: 0;
  font-size: 30px;
  font-family: Arial;
  color: white;
}
.experiencia .expDiseño p {
  padding: 3% 5% 0% 5%;
  font-size: 15px;
  font-family: Arial;
  color: #000003;
}
.experiencia .exp1 {
  grid-area: div1;
}
.experiencia .exp2 {
  grid-area: div2;
}
.experiencia .exp3 {
  grid-area: div3;
}
.experiencia .exp4 {
  grid-area: div4;
}

/*EXPERIENCIA*/
/*CONTACTO*/
.contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3%;
}
.contacto form {
  background: #82449d;
  border-radius: 5%;
  box-shadow: 0 0 40px -10px #000;
  padding: 3%;
  box-sizing: border-box;
  width: 40%;
  margin-bottom: 5%;
}
.contacto form legend {
  margin: 3% 0;
  padding-bottom: 2%;
  font-size: 20px;
  font-family: Arial;
  color: white;
  border-bottom: 3px solid white;
}
.contacto form .col-12 {
  margin: 5%;
  padding-top: 5%;
  font-size: 15px;
  font-family: Arial;
  color: white;
  text-align: start;
}
.contacto form .col-12 label {
  margin-right: 10%;
  padding-bottom: 2%;
}
.contacto form .col-12 .col-8 {
  margin-right: 10%;
  width: 80%;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  color: white;
}
.contacto form .col-12 .col-8:focus {
  border-bottom: 2px solid white;
}
.contacto form .col-12 textarea {
  height: 200px;
  border: 2px solid #bebed2;
}
.contacto form button {
  font-size: 20px;
  font-family: Arial;
  color: white;
  background-color: #82449d;
  border: 1px solid #2e0340;
  padding: 2%;
  border-radius: 10%;
  float: right;
}
.contacto form button:hover {
  background-color: #2e0340;
}
.contacto .contactoDatos {
  border: 5px inset #82449d;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../imagenes/fondoContacto.jpg);
  padding: 2%;
  width: 35%;
}
.contacto .contactoDatos .datos {
  padding: 2%;
  margin-left: 10%;
}
.contacto .contactoDatos .datos .titulosDatos {
  font-size: 20px;
  font-family: Arial;
  color: #000003;
}
.contacto .contactoDatos .datos .titulosDatos h3 {
  margin: 0 0 0 10%;
  font-size: 25px;
  font-family: Arial;
  color: #000003;
  font-weight: bolder;
}
.contacto .contactoDatos .datos p {
  padding: 2%;
  font-size: 15px;
  font-family: Arial;
  color: #000003;
  text-align: center;
  font-weight: 500;
}

.redes {
  margin: 5% 0;
  padding: 3% 0;
}
.redes ul {
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin-right: 3%;
}
.redes ul li a {
  font-size: 70px;
  font-family: Arial;
  color: #000003;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 0 1px #2e0340, 0 0 0 5px #82449d, 0 0 0 6.5px #2e0340, 0 0 0 7px #82449d;
  border-radius: 100%;
  background: #FFEBD6;
  padding: 40%;
}
.redes ul li a:hover {
  box-shadow: 0 0 0 1px #82449d, 0 0 0 5px #FFEBD6, 0 0 0 6.5px #82449d, 0 0 0 7px #FFEBD6;
  border-radius: 100%;
  background: #2e0340;
  color: white;
}

.atencion {
  background: linear-gradient(0deg, rgb(0, 0, 3) 0%, rgb(255, 255, 255) 15%);
  text-align: center;
}
.atencion h3 {
  background-color: #82449d;
  font-size: 40px;
  font-family: Arial;
  color: white;
  padding: 1%;
  margin: 1% 35%;
}
.atencion p {
  background-color: #FFEBD6;
  font-size: 15px;
  font-family: Arial;
  color: #000003;
  font-weight: 500;
  padding: 1%;
  margin: 4% 25%;
}
.atencion iframe {
  width: 100%;
  padding-bottom: 4%;
  margin: 0 0 4% 0;
}

/*CONTACTO*/
/*FOOTER*/
.footer {
  padding-top: 3%;
  background-color: #000003;
  display: flex;
  justify-content: space-evenly;
}
.footer h4 {
  font-size: 20px;
  font-family: Arial;
  color: white;
}
.footer img {
  height: 150px;
}
.footer .footerInf {
  width: 10%;
}
.footer .footerInf ul {
  padding: 0;
}
.footer .footerInf ul li {
  list-style: none;
  padding: 1%;
  cursor: pointer;
}
.footer .footerInf ul li a {
  text-decoration: none;
  font-size: 15px;
  font-family: Arial;
  color: white;
  transition: all 0.5;
}
.footer .footerInf ul li a:hover {
  color: grey;
}
.footer .footerCont {
  width: 20%;
}
.footer .footerCont ul {
  padding: 0;
}
.footer .footerCont ul li {
  padding: 1%;
  list-style: none;
}
.footer .footerCont ul li a {
  text-decoration: none;
  font-size: 15px;
  font-family: Arial;
  color: white;
}
.footer .footerDirHor {
  width: 20%;
}
.footer .footerDirHor p {
  font-size: 15px;
  font-family: Arial;
  color: white;
}
.footer .footerRedes {
  display: flex;
}
.footer .footerRedes ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}
.footer .footerRedes ul li {
  list-style: none;
  cursor: pointer;
}
.footer .footerRedes ul li a {
  text-decoration: none;
  font-size: 25px;
  font-family: Arial;
  color: white;
  transition: all 0, 5;
}
.footer .footerRedes ul li a:hover {
  color: grey;
}

/*FOOTER*/
@media only screen and (max-width: 576px) { /*celular*/
  /*header*/
  header img {
    width: 40%;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
  header nav ul li {
    padding: 2% 0;
  }
  header nav ul li a {
    font-size: 12px;
    font-family: Arial;
    color: white;
  }
  /*header*/
  /*carousel*/
  .carouselInicio h1 {
    font-size: 40px;
    font-family: Arial;
    color: #2e0340;
  }
  .carouselInicio p {
    font-size: 15px;
    font-family: Arial;
    color: #000003;
  }
  .carouselInicio .carouselFondo3 {
    padding: 174px 0;
  }
  /*carousel*/
  /*sobre nosotros*/
  #nosotros h2 {
    font-size: 35px;
    font-family: Arial;
    color: white;
  }
  #nosotros img {
    height: 350px;
    width: 350px;
  }
  #nosotros h3 {
    font-size: 25px;
    font-family: Arial;
    color: white;
  }
  #nosotros p {
    padding: 0 10%;
    font-size: 12px;
    font-family: Arial;
    color: white;
  }
  #nosotros .quienesSomos {
    flex-direction: column-reverse;
  }
  #nosotros .quienesSomos .quienesSomosTxt {
    background: linear-gradient(90deg, rgb(130, 68, 157) 0%, rgb(46, 3, 64) 35%, rgb(42, 0, 60) 65%, rgb(130, 68, 157) 100%);
  }
  #nosotros .trayectoria {
    flex-direction: column;
  }
  #nosotros .trayectoria .trayectoriaTxt {
    background: linear-gradient(90deg, rgb(130, 68, 157) 0%, rgb(46, 3, 64) 35%, rgb(42, 0, 60) 65%, rgb(130, 68, 157) 100%);
  }
  /*sobre nosotros*/
  /*servicios*/
  .servicios {
    padding: 10%;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "img1" "txt1" "img2" "txt2" "img3" "txt3";
  }
  .servicios h3 {
    font-size: 25px;
    font-family: Arial;
    color: white;
  }
  .servicios p {
    padding: 0 15%;
    font-size: 12px;
    font-family: Arial;
    color: white;
  }
  /*conocenos*/
  /*presentacion*/
  .presentacion p {
    font-size: 12px;
    font-family: Arial;
    color: #000003;
  }
  .presentacion .tituloPresentacion h2 {
    font-size: 40px;
    font-family: Arial;
    color: white;
    margin: 0 15%;
  }
  /*presentacion*/
  /*aplicacion*/
  .productos {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
  }
  .productos .cartaProductos {
    width: 60%;
  }
  .productos .cartaProductos h4 {
    font-size: 20px;
    font-family: Arial;
    color: #000003;
  }
  .productos .cartaProductos p {
    font-size: 12px;
    font-family: Arial;
    color: #000003;
  }
  /*aplicacion*/
  /*experiencia*/
  .experiencia {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 500px 500px 500px;
    grid-template-areas: "div1" "div2" "div3" "div4";
  }
  .experiencia h3 {
    font-size: 25px;
    font-family: Arial;
    color: white;
  }
  .experiencia p {
    font-size: 12px;
    font-family: Arial;
    color: #000003;
  }
  /*experiencia*/
  /*contacto*/
  .contacto {
    flex-direction: column;
  }
  .contacto form {
    width: 80%;
  }
  .contacto .contactoDatos {
    width: 80%;
    margin-bottom: 10%;
  }
  .contacto .contactoDatos .datos {
    font-size: 15px;
    font-family: Arial;
    color: #000003;
  }
  .contacto .contactoDatos .datos .titulosDatos h3 {
    font-size: 20px;
    font-family: Arial;
    color: #000003;
  }
  .contacto .contactoDatos .datos p {
    font-size: 12px;
    font-family: Arial;
    color: #000003;
  }
  .redes ul {
    margin-right: 10%;
  }
  .redes ul li a {
    font-size: 40px;
    font-family: Arial;
    color: #000003;
    font-size: 50px;
    padding: 40%;
  }
  .atencion h3 {
    font-size: 25px;
    font-family: Arial;
    color: white;
  }
  .atencion p {
    font-size: 12px;
    font-family: Arial;
    color: #000003;
    margin-bottom: 10%;
  }
  /*contacto*/
  /*footer*/
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer h4 {
    font-size: 17px;
  }
  .footer img {
    display: none;
  }
  .footer .footerInf {
    display: none;
  }
  .footer .footerCont {
    width: 80%;
  }
  .footer .footerCont ul li a {
    font-size: 12px;
  }
  .footer .footerDirHor {
    width: 80%;
  }
  .footer .footerDirHor p {
    font-size: 12px;
  }
  /*footer*/
}

/*# sourceMappingURL=style.css.map */
