/*FOOTER*/
.footer{
    padding-top: 3%;
    background-color: #000003;
    display: flex;
    justify-content: space-evenly;

    h4{
        @include texto (nth($size, 3), $fuente, nth($colores, 4));
    }

    img{
        height: 150px;
    }

    .footerInf{
        width: 10%;

        ul{
            padding: 0;

            li{
                list-style: none;
                padding: 1%;
                cursor: pointer;

                a{
                    text-decoration: none;
                    @include texto (nth($size, 2), $fuente, nth($colores, 4));
                    transition: all 0.5;

                    &:hover{
                        color: grey;
                    }
                }
            }
        }
    }

    .footerCont{
        width: 20%;

        ul{
            padding: 0;

            li{
                padding: 1%; 
                list-style: none;
                
                a{
                    text-decoration: none;
                    @include texto (nth($size, 2), $fuente, nth($colores, 4));
                }
            }
        }
    }

    .footerDirHor{
        width: 20%;

        p{
            @include texto (nth($size, 2), $fuente, nth($colores, 4));
        }
    }

    .footerRedes{
        display: flex;

        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;  
            list-style: none;
            padding: 0;

            li{
                list-style: none;
                cursor: pointer;

                a{
                    text-decoration: none;
                    @include texto (nth($size, 4), $fuente, nth($colores, 4));
                    transition: all 0,5;

                    &:hover{
                        color: grey;
                    }
                }
            }
        }
    }
}
/*FOOTER*/
