*{
    padding: 0;
    margin: 0;
}

/* HEADER */
header{
    @extend %disposicion;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(196,54,244,1) 50%, rgba(131,58,180,1) 100%);
    margin-bottom: 3%;
    
    img{
        height: 50%;
        width: 25%;
        margin: 2% 0;
    }

    nav{
        width: 80%;
        margin: 2% 10%;
    
        ul{
            display: flex;
            justify-content: space-around;
            padding: 0;
    
            li{
                list-style: none;
                cursor: pointer;

                a{
                    padding: 5%;
                    text-decoration: none;
                    @include texto (nth($size, 2), $fuente, nth($colores, 4));
                    transition: all 0.25s;

                    &:hover{
                        color: nth($colores , 5 );
                        text-shadow: 0px 0px 5px nth($colores , 5); 
                    }
                }
            }
        }
    }
}

/*HEADER*/

