/*INDEX*/

/*CAROUSEL*/
.carouselInicio{
    margin-bottom: 3%;
    
    h1{
        @include texto (nth($size, 8), $fuente, nth($colores, 5));
        text-shadow: 0px 0px 15px nth($colores , 5); 
    }

    p{
        @include texto (nth($size, 3), $fuente, nth($colores, 3));
    }

    .carousel-item{
        width: 100%;
        padding: 150px 0; 
        text-align: center;
        
    }

    .carouselFondo1{
        background-image: linear-gradient(to right, rgb(255 255 255 / .25), rgb(255 255 255 / .25)), url(../imagenes/carousel1.jpg);
    }
    .carouselFondo2{
        background-image: linear-gradient(to right, rgb(255 255 255 / .25), rgb(255 255 255 / .25)), url(../imagenes/carousel2.jpg);
    }
    .carouselFondo3{
        background-image: linear-gradient(to right, rgb(255 255 255 / .25), rgb(255 255 255 / .25)), url(../imagenes/carousel3.jpg);
    }

}
/*CAROUSEL*/

/*SOBRE NOSOTROS*/
#nosotros{
    background-color: nth($colores , 1);
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    @extend %disposicionNosotrosServicios;

    h2{
        @include texto (nth($size, 8), $fuente, nth($colores, 4));
        padding-top: 2%;
        margin-bottom: 2%;
    }

    img{
        height: 400px;
        width: 400px;
        margin: 2%;
        border-radius: 5%;
    }

    h3{
        @include texto (nth($size, 7), $fuente, nth($colores, 4));
    }

    p{
        @include texto (nth($size, 2), $fuente, nth($colores, 4));
        padding: 0 5%;
    }

    .quienesSomos{
        @extend %disposicion;

        .quienesSomosTxt{
            padding: 2%;
            margin-left: 1%;
            background:  linear-gradient(90deg, rgba(130,68,157,1) 0%, rgba(46,3,64,1) 0%, rgba(42,0,60,1) 65%, rgba(130,68,157,1) 100%);
        }
    }

    .trayectoria{
        @extend %disposicion;

        .trayectoriaTxt{
            padding: 2%;
            margin-right: 1%;
            background:  linear-gradient(90deg, rgba(130,68,157,1) 0%, rgba(46,3,64,1) 35%, rgba(42,0,60,1) 100%, rgba(130,68,157,1) 100%);
        }
    }
}

/*SOBRE NOSOTROS*/

/*SERVICIOS*/
.servicios{
    padding-bottom: 5%;
    background: linear-gradient(0deg, rgba(0,0,3,1) 0%, rgba(130,68,157,1) 82%);
    @extend %disposicionNosotrosServicios;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img1 img2 img3"
    "txt1 txt2 txt3";

    img{
        height: 100%;
        width: 100%;
        padding-top: 8%;
    }

    h3{
        margin: 4% 0;
        padding: 0 5%;
        @include texto (nth($size, 4), $fuente, nth($colores, 4));
    }

    p{
        margin-bottom: 5%;
        padding: 0 10%;
        @include texto (nth($size, 2), $fuente, nth($colores, 4));
    }

    .serviciosImg1{
        grid-area: img1;
    }
    .serviciosImg2{
        grid-area: img2;
    }
    .serviciosImg3{
        grid-area: img3;
    }
    .serviciosTxt1{
        grid-area: txt1;
    }
    .serviciosTxt2{
        grid-area: txt2;
    }
    .serviciosTxt3{
        grid-area: txt3;
    }
}
/*SERVICIOS*/

/*INDEX*/