/*INDEX*/

/*CAROUSEL*/
.carouselInicio{
    margin-bottom: 3%;
    
    img{
        height: 550px;
    }
}
/*CAROUSEL*/

/*SOBRE NOSOTROS*/
#nosotros{
    background-color: #82449d;
    font-family: Arial;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    overflow: hidden;
    text-align: center;

    h2{
        font-size: 80px;
        text-align: center;
        padding-top: 2%;
        margin-bottom: 2%;
    }

    img{
        height: 400px;
        width: 400px;
        margin: 2%;
        border-radius: 5%;
    }

    h3{
        font-size: 40px;
    }

    p{
        font-size: 15px;
        padding: 2%;
    }

    .quienesSomos{
        display: flex;
        align-items: center;

        .quienesSomosTxt{
            padding: 2%;
            margin-left: 1%;
            background:  linear-gradient(90deg, rgba(130,68,157,1) 0%, rgba(46,3,64,1) 0%, rgba(42,0,60,1) 65%, rgba(130,68,157,1) 100%);
        }
    }

    .trayectoria{
        display: flex;
        align-items: center;

        .trayectoriaTxt{
            padding: 2%;
            margin-right: 1%;
            background:  linear-gradient(90deg, rgba(130,68,157,1) 0%, rgba(46,3,64,1) 35%, rgba(42,0,60,1) 100%, rgba(130,68,157,1) 100%);
        }
    }
}

/*SOBRE NOSOTROS*/

/*CONOCENOS*/
.conocenos{
    padding-bottom: 5%;
    background: rgb(0,0,3);
    background: linear-gradient(0deg, rgba(0,0,3,1) 0%, rgba(130,68,157,1) 82%);
    font-family: Arial;
    text-align: center;
    color: white;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img1 img2 img3"
    "txt1 txt2 txt3";

    img{
        height: 100%;
        width: 100%;
        padding-top: 8%;
    }

    h3{
        margin-top: 4%;
        margin-bottom: 4%;
        font-size: 40px;
    }

    p{
        margin-bottom: 5%;
        font-size: 15px;
    }

    .conocenosImg1{
        grid-area: img1;
    }
    .conocenosImg2{
        grid-area: img2;
    }
    .conocenosImg3{
        grid-area: img3;
    }
    .conocenosTxt1{
        grid-area: txt1;
    }
    .conocenosTxt2{
        grid-area: txt2;
    }
    .conocenosTxt3{
        grid-area: txt3;
    }
}
/*CONOCENOS*/

/*INDEX*/