/*PRESENTACION*/
.presentacion{
    
    p{
        @include texto (nth($size, 2), $fuente, nth($colores, 3));
        text-align: center;
        background-color: #FFEBD6;
        margin: 3% 8%;
        padding: 2%;
    }
    
    .tituloPresentacion{
        width: 100%;
        padding: 150px 0; 
        text-align: center;
        background-image: linear-gradient(to right, rgb(46 3 64 / .5), rgb(46 3 64 / .5)), url(../imagenes/presentacion.png);
    
        h2{
            @include texto (nth($size, 9), $fuente, nth($colores, 4));
            background-color: #82449d;
            border-top-left-radius: 50%;
            border-top-right-radius: 5%;
            border-bottom-left-radius: 5%;
            border-bottom-right-radius: 50%;
            padding: 2%;
            margin: 0 30%;
        }
    }
}
/*PRESENTACION*/