@media only screen and (max-width: 576px){ /*celular*/

    /*header*/
    header{

        img{
            width: 40%;
        }

        nav{
            ul{
                flex-direction: column;
                align-items: center;

                li{
                    padding: 2% 0;

                    a{
                        @include texto (nth($size, 1), $fuente, nth($colores, 4));
                    }
                }
            }
        }
    }
    /*header*/

    /*carousel*/
    .carouselInicio{
        
        h1{
            @include texto (nth($size, 7), $fuente, nth($colores, 5));
        }

        p{
            @include texto (nth($size, 2), $fuente, nth($colores, 3));
        }

        .carouselFondo3{
            padding: 174px 0;
        }
    }
    /*carousel*/
    
    /*sobre nosotros*/
    #nosotros{
    
        h2{
            @include texto (nth($size, 6), $fuente, nth($colores, 4));
        }
    
        img{
            height: 350px;
            width: 350px;
        }
    
        h3{
            @include texto (nth($size, 4), $fuente, nth($colores, 4));
        }
    
        p{
            padding: 0 10%;
            @include texto (nth($size, 1), $fuente, nth($colores, 4));
        }

        .quienesSomos{
            flex-direction: column-reverse;

            .quienesSomosTxt{
                background:  linear-gradient(90deg, rgba(130,68,157,1) 0%, rgba(46,3,64,1) 35%, rgba(42,0,60,1) 65%, rgba(130,68,157,1) 100%);
            }
        }

        .trayectoria{
            flex-direction: column;

            .trayectoriaTxt{
                background:  linear-gradient(90deg, rgba(130,68,157,1) 0%, rgba(46,3,64,1) 35%, rgba(42,0,60,1) 65%, rgba(130,68,157,1) 100%);
            }
        }
    }
    /*sobre nosotros*/

    /*servicios*/
    .servicios{
        padding: 10%;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "img1"
        "txt1"
        "img2"
        "txt2"
        "img3"
        "txt3";

        h3{
            @include texto (nth($size, 4), $fuente, nth($colores, 4));
        }

        p{
            padding: 0 15%;
            @include texto (nth($size, 1), $fuente, nth($colores, 4));
        }
    }
    /*conocenos*/

    /*presentacion*/
    .presentacion{

        p{
            @include texto (nth($size, 1), $fuente, nth($colores, 3));
        }

        .tituloPresentacion{

            h2{
                @include texto (nth($size, 7), $fuente, nth($colores, 4));
                margin: 0 15%;
            }
        }
    }
    /*presentacion*/

    /*aplicacion*/
    .productos{
        flex-direction: column;
        align-items: center;
        padding-bottom: 10%;

        .cartaProductos{
            width: 60%;

            h4{
                @include texto (nth($size, 3), $fuente, nth($colores, 3));
            }

            p{
                @include texto (nth($size, 1), $fuente, nth($colores, 3));
            }
        }
    }          
    /*aplicacion*/
    
    /*experiencia*/
    .experiencia{
        grid-template-columns: 1fr;
        grid-template-rows: 500px 500px 500px 500px;
        grid-template-areas:
        "div1"
        "div2"
        "div3"
        "div4";

        h3{
            @include texto (nth($size, 4), $fuente, nth($colores, 4));
        }

        p{
            @include texto (nth($size, 1), $fuente, nth($colores, 3));
        }
    }
    /*experiencia*/

    /*contacto*/
    .contacto{
        flex-direction: column;

        form{
            width: 80%;
        }
        .contactoDatos{
            width: 80%;
            margin-bottom: 10%;

            .datos{
                @include texto (nth($size, 2), $fuente, nth($colores, 3));

                .titulosDatos{

                    h3{
                        @include texto (nth($size, 3), $fuente, nth($colores, 3));
                    }
                }

                p{
                    @include texto (nth($size, 1), $fuente, nth($colores, 3));
                }
            }
        }
    }

    .redes{
        ul{
            margin-right: 10%;
            
            li{
                a{
                    @include texto (nth($size, 7), $fuente, nth($colores, 3));
                    font-size: 50px;
                    padding: 40%;
                }
            }
        }
    }

    .atencion{

        h3{
            @include texto (nth($size, 4), $fuente, nth($colores, 4));
        }

        p{
            @include texto (nth($size, 1), $fuente, nth($colores, 3));
            margin-bottom: 10%;
        }
    }
    /*contacto*/

    /*footer*/
    .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;

        h4{
            font-size: 17px;
        }

        img{
            display: none;
        }

        .footerInf{
            display: none;
        }

        .footerCont{
            width: 80%;

            ul{
                li{
                    a{
                        font-size: 12px;
                    }
                }
            }
        }

        .footerDirHor{
            width: 80%;

            p{
                font-size: 12px;
            }
        }
    }
    /*footer*/
}